body {
    background-color: white;
    
}

header {
    padding-bottom: 8px;
    border-bottom: solid 3px rgb(199, 198, 198);
}

h1 {
    background: #4aaaa5;
    color: white;
    margin: -10px;
    height: 50px;
    padding-left:30px;
    padding-top:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    size: 18px;
    width: 15%;
    margin-left:18.5%;
    padding-right:17px;
}

a {
    color:gray;
    float:right;
    padding:20px;
    margin-top:-50px;
    margin-left:20px;
}

section {
    background-image: url("../images/gaming-pattern.png");
}


.container {
    
    height: 400px;
    width: 960px;
    margin-top: 50px;
    margin-left: 240px;
    border: solid 1px rgb(199, 198, 198);
       background-color: white;
    
}

.aboutMe {
    margin-left: 25px;
    color: #4aaaa5;
    border-bottom: solid 1px rgb(199, 198, 198);
    margin-right: 15px;
}


.marioImage {
    float: left;
    height: 200px;
    width: 200px;
    margin-left: 25px;
    padding-right:10px;
    padding-bottom: 10px;
}

p {
    clear: both;
    color: #777777;
    line-height: 25px;
    margin-right: 15px;
    margin-left: 10px;
}   
 

footer {
  background-color: grey;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 8px;
  padding-top: 10px;
  border-top: 10px;
  border-bottom: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: #4aaaa5;
}